.form-input {
  position: relative;

  input {
    width: 100%;
    font-weight: 350;
    font-size: 16px;
    line-height: 24px;
    padding-left: 20px;
    height: 44px;
    background: rgba(241, 246, 239, 0.6);
    border: 1px solid rgba(241, 246, 239, 0.6);
    border-radius: 4px;
    box-sizing: border-box;
    transition: all .2s;
    -webkit-appearance: none;

    &::placeholder {
      color: #000000;
      opacity: 0.5;
    }

    &:focus {
      border-color: #FFCF52;
    }
  }

  textarea {
    width: 100%;
    font-weight: 350;
    font-size: 16px;
    line-height: 24px;
    padding-left: 20px;
    padding-top: 10px;
    background: rgba(241, 246, 239, 0.6);
    border: 1px solid rgba(241, 246, 239, 0.6);
    border-radius: 4px;
    box-sizing: border-box;
    transition: all .2s;
    -webkit-appearance: none;

    &::placeholder {
      color: #000000;
      opacity: 0.5;
    }

    &:focus {
      border-color: #FFCF52;
    }
  }

  .icon {
    width: 24px;
    height: 24px;
    display: none;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;

    img {
      width: 100%;
    }
  }

  &:after {
    content: url("../assets/icons/tick--success.svg");
    position: absolute;
    height: 24px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    opacity: 0;
    transition: all .2s;
    z-index: 1;
  }

  &.error {
    input {
      border-color: #FEAAAA;
    }

    &:after {
      content: url("../assets/icons/error-cross.svg");
      opacity: 1;
    }
  }

  &.--success {
    input, textarea {
      border: 1px solid #ACCDA7
    }

    &:after {
      opacity: 1;
    }
  }
}